/*
h2 {
        color: orange;
        font-size: 40px;
        background-color: yellow;
        background-image: url();
        background-repeat: no-repeat;
}
div {
        height: 75vh;
        width: 100vh;
        background-color: orangered;
        margin: 20px;
        padding: 50px;
        border: 20px brown solid;
        text-align: center;
        border-radius: 50%;
}
*/
